server {
    listen 80;
    server_name {{ vhost_name }};
    index {{ vhost_index }};
    access_log /var/log/nginx/{{ vhost_name }}-access.log;
    error_log /var/log/nginx/{{ vhost_name }}-error.log;
    location / {
        root {{ vhost_root }};
        autoindex on;
    }
}
